# Gitignore for Node.js project and common editors

# JS build resources, logs, temp files
node_modules
dist
npm-debug.log
.env
coverage
.nyc_output/
config/local.yml

# OS temp files
.DS_Store

# Editors
.idea/
.idea_modules/